body{
    background: #999;
    font-family: Arial, Helvetica, sans-serif, Glyphicons Halflings;
    

    

}


@font-face{
    font-family:'Glyphicons Halflings';
    src:url(../fonts/glyphicons-halflings-regular.eot);
}

.card{
    margin-bottom: 20px;
}

.btn{
    margin-bottom: 20px;
}

.accordion-body{
    height: 200px; 
    overflow-x: scroll;
    margin-bottom: 20px;
}
